

.avatarImage {
    background-image: url(../assets/atlas/animals_round.png);
    transform-origin: center;
    height: var(--size-avatar);
    width: var(--size-avatar);
}

.avatarImage.avatarImage--small {
    margin: calc(-1 * (1/8) * var(--size-avatar));
    transform: scale(0.75);
}

@media (max-width: 1000px) {
    .avatarImage {
        margin: calc(-1 * (1/8) * var(--size-avatar));
        transform: scale(0.75);
    }
    .avatarImage.avatarImage--small {
        margin: calc(-1 * (2/8) * var(--size-avatar));
        transform: scale(0.5);
    }
}

@media (max-width: 760px) {
    .avatarImage {
        margin: calc(-1 * (2/8) * var(--size-avatar));
        transform: scale(0.5);
    }
    .avatarImage.avatarImage--small {
        margin: calc(-1 * (3/8) * var(--size-avatar));
        transform: scale(0.25);
    }
}
