

.avatarImage {
    background-image: url(../../assets/atlas/animals_round.png);
    transform-origin: center;
    height: var(--size-avatar);
    width: var(--size-avatar);
}

.avatarImage.avatarImage--small {
    margin: calc(var(--size-avatar) / -2 + 1em);
    transform: scale(0.75);
}
