@import "vars.css";
@import "fonts.css";
@import "layout.css";
@import "translucent.css";
@import "section.css";
@import "input.css";
@import "list.css";
@import "icon.css";
@import "avatarSelect.css";
@import "levelSelect.css";
@import "window.css";
@import "game.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
    Workaround for bug in Firefox
*/
@-moz-document url-prefix() {
    option {
        font-weight: normal !important;
        font-size: medium !important;
    }
}
