:root {
    --common-transparent: rgba(255,255,255,0);

    --scroll-track: #F5F5F5;
    --scroll-thumb: #555;

    --header-bg: #78A1BB;

    --overview-bg: #3E637A;
    --overview-border: #223744;

    --lobby-bg: #3E637A;

    --game-bg: #3E637A;
    --game-area-bg: #e0ffff; /*lightcyan*/;
    --game-cursor: #00ff00; /* lime */
    --game-cursor-self: #000000; /* black */

    --logoff-bg: #dddddd;

    --avatar-selected: #FF9670;
}