.game {
    position: absolute;
    top: var(--size-header);
    right: 0; bottom: 0; left: 0;

    background-color: var(--col-trans-dark-strong);
}

.gameOverlay {
    height: 100%;

    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    pointer-events: none;

    text-align: center;
}
.phaseTitle {
    font-size: 3em;
    height: 1em;
}
.phaseCountdown {
    font-size: 5em;
    height: 1em;
}
#gameCountdown {
    position: absolute;
    text-align: left;
    top: var(--space-sm);
    left: var(--space-sm);
    font-size: 2em;

    pointer-events: none;
}

#gameResultsList {
    width: 100%;
    height: 100%;
    align-items: center;
    display: grid;
    grid-auto-rows: 1.5em;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: 30px 220px 50px 50px auto;
}
