input[type="text"] {
    user-select: none;
}
select, input[type="checkbox"], input[type="range"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

button, input, select {
    font: inherit;
    font-family: 'Sigmar_One', Fallback, sans-serif;

    line-height: 2;
    display: block;
    outline: none;

    color: rgba(0,0,0, 0.65);
    padding: var(--space-xs) var(--space-sm);

    border-radius: var(--border-radius-sm);
    border: 0 none;
}

button, select, input[type="checkbox"] {
    cursor: pointer;
}
input[type="text"] {
    cursor: text;
}
button:disabled,
select:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

button.button--slim  {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
}

input[type="text"], select {
    width: 100%;
}

::placeholder {
    color: rgba(0,0,0, 0.3);
    opacity: 1;
}
::-moz-focus-inner {
    padding-inline: 0;
    border: 0 none;
}


input[type="checkbox"] {
    width: 2em;
    height: 2em;
    padding: 0;
    margin: auto;

    position: relative;
}

input[type="checkbox"]::after {
    content: "";
    position: absolute;
    background-color: var(--col-trans-dark);
    border-radius: var(--border-radius-sm);

    transition: top var(--time-md), right var(--time-md), bottom var(--time-md), left var(--time-md), opacity var(--time-md);
    top: 1em; right: 1em; bottom: 1em; left: 1em;
    opacity: 0;
}

input[type="checkbox"]:checked::after {
    top: 0.3em; right: 0.3em; bottom: 0.3em; left: 0.3em;
    opacity: 1;
}

input[type="range"] {
    height: 2em;
}
input[type="range"]::-moz-range-progress {
    background-color: transparent;
}
input[type="range"]::-moz-range-thumb {
    width: 1.4em;
    height: 1.4em;
    border: 0 none;

    background-color: var(--col-trans-dark);
    border-radius: var(--border-radius-sm);
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;

    width: 1.4em;
    height: 1.4em;
    border: 0 none;

    background-color: var(--col-trans-dark);
    border-radius: var(--border-radius-sm);
}
