
/* ########################################################################## */
html, body, .wrapper {
    height: 100%;
}

/* ########################################################################## */
header {
    padding: 0 var(--space-xl);
    height: var(--size-header);
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header img {
    display: block;
    height: 100%;
    margin-right: var(--space-md);
}
header h1 {
    flex-grow: 1;
}
header button {
    margin-left: var(--space-sm);
}
/* ########################################################################## */

.content {
    min-height: calc(100vh - var(--size-header));
    padding: var(--space-lg) var(--space-xl);
    display: flex;
    flex-direction: row;
}
.content > * {
    flex-grow: 1;
    width: 50%;
}
.content__left {
    margin-right: var(--space-lg);
}
.content__right {

}

/* ########################################################################## */

#logoff {
    position: absolute;
    z-index: 101;
    top: 0; right: 0; bottom: 0; left: 0;
}
#logoff > div {
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    font-size: 2em;
    text-align: center;
}

#logoff img {
    height: 50vh;
    width: 50vh;
    margin-bottom: 5vh;
}

#noLobbies {
    text-align: center;
}
#noLobbies img {
    width: 10vw;
    height: 10vw;
    display: block;
    margin: 0 auto var(--space-md) auto;
}
#noLobbies.hidden {
    display: none;
}
