
.list {
    margin-bottom: var(--space-md);
}
.list:last-of-type {
    margin-bottom: 0;
}


.list--hr .row {
    position: relative;
}

.list--hr .row::after {
    content: "";
    position: absolute;
    right: 0; bottom: calc(var(--space-sm) / -2 - 0.5px); left: 0;
    height: 1px;
    opacity: 0.5;
}
.list--hr .row:last-of-type::after {
    display: none;
}


.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--space-sm);
    margin-right: calc(-1 * var(--space-sm));
}
.row--spaced {
    justify-content: space-between;
}
.row--flow {
    flex-wrap: wrap;
    margin-bottom: 0;
}
.row--flow > * {
    margin-bottom: var(--space-sm);
}
.row:last-of-type {
    margin-bottom: 0;
}
.row > * {
    margin-right: var(--space-sm);
}
/* .row > *:last-child {
    margin-right: 0;
} */

.cell--fill {
    flex-grow: 1;
}
.cell--aside {
    width: var(--size-aside);
}
.cell--icon {
    width: var(--size-icon-total);
}
.cell--aside > * {
    width: 100%;
}
